<h1>Hello, World</h1>
<p>This contact list app was created as a refresher exercise in Ruby on Rails, and to gain experience deploying to Heroku. As such, very little attention is given to stylistic details, as the primary focus here is to sharpen my understanding of Active Record and other core Rails functionality. The app contains the following features:</p>
<ul>
  <li>User account creation and deletion</li>
  <li>New contact creation, edit, and deletion</li>
  <li>Contacts are associated with user accounts</li>
  <li>Contacts are hidden from anonymous users</li>
  <li>CRUD actions are prohibited unless the user is signed in</li>
  <li>Anonymous users cannot perform CRUD actions by guessing URL paths</li>
</ul>
<p>Features to be added in future practice sessions include:</p>
<ul>
  <li>Search bar functionality to quickly find contacts in large lists</li>
  <li>Forgot password mailer</li>
</ul>
<p>Please feel free to test the app, and to report any issues <a href="mailto:rjl.macfarlane@gmail.com">here</a>.</p>
<p>If you are an employer looking for a junior developer, please visit my portfolio page <a href="https://rjlmacfarlane.github.io/">here</a>.</p>
<h3>Have a great day!</h3>
